body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	min-height: 100vh;
	max-height: 100vh;
	background-image: url("../images/table.png");
}

.scrabble {
	display: flex;
}

.container {
	margin-top: 25px;
	padding-right: 2rem;
	padding-left: 2rem;
	max-width: 65vw;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	flex: 2 1 auto;
}

.scoreboard-container {
	max-width: 35vw;
	color: white;
	background: #2f2b2b;
	min-height: 100vh;
	flex: 1 1 auto;
}

.board {
	position: relative;
	height: 85vh;
	display: grid;
	grid-template-columns: 4.33vw 4.33vw 4.33vw 4.33vw 4.33vw 4.33vw 4.33vw 4.33vw 4.33vw 4.33vw 4.33vw 4.33vw 4.33vw 4.33vw 4.33vw;
	grid-gap: 0;
	background: rgb(233,223,196);
  background-repeat: repeat;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		 -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
					box-shadow:0 24px 14px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.board:before, .board:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.board:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.cell {
	border: 1px white solid;
	border-bottom: none;
	border-radius: 1px;
	font-size: 1.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f7d7ae;
	width: 4.33vw;
	height: 5.667vh;
}

.double-word {
	background-color: #ff889d;
	color: black;
}

.triple-word {
	background-color: #d63535;
	color: white;
}

.double-letter {
	background-color: #78c7e0;
	color: black;
}

.triple-letter {
	background-color: #5151b7;
	color: white;
}

.center-logo {
	width: 50px;
	height: auto;
	position: absolute;
}

.center-tile {
	background-color: #c5c5c5;
}

.tile {
    color: black;
    transform: translateY(-3px);
    font-weight: bold;
    height: 5.5vh;
    width: 4.33vw;
    display: flex;
    margin: 0 1rem;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-repeat: repeat;
		background-image: url("../images/table4.png");
		box-shadow: 3px 3px #564d40;
		border: 1px solid #564d40;
		margin-bottom: 2px;
}

.cell.tile {
	width: auto;
	margin: 0;
	box-shadow: none;
	transform: translate(0);
	border-top: none;
	border-left: none;
	height: auto;
}

.tiles {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 100%;
	width: 65vw;
}

.tileholder {
	position: fixed;
	bottom: 0.5rem;
	height: 7vh;
	border: 3px #564d40 solid;
	width: 65vw;
	box-shadow: 10px 10px #564d40;
	text-align: center;
	background-image: url("../images/wood5.png");
	margin-bottom: 10px;
}

.value {
	font-size: 1rem;
	position: absolute;
	bottom: 0;
	right: 5%;
}

.btn {
	height: 4rem;
	width: 12rem;
	font-size: 1rem;
	text-align: center;
	border-radius: 0.5rem;
	background-color: #08a7e4;
	margin: 1rem;
}

.submit-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
}

.vertical-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn.focus, .btn:focus, .btn:hover {
	color: white;
}

.btn:hover {
	cursor: pointer;
}

/* Scoreboard */
.scoreboard {
	position: relative;
}

.scoreboard-header {
	font-family: inherit;
	font-size:  3rem;
	text-align: center;
}

.score-display {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25vh;
}

.score {
	font-size: 5rem;
}

.submit-row {
	display: flex;
	align-items: center;
	justify-content: center;
}


/* Form stuff */
input {
    border: 5px solid white;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    width: 100%;
    font-size: 1rem;
    color: white;
    font-weight: 900;
    text-align: center;
}

input:focus, textarea:focus {
  background   : rgba(0,0,0,.1);
  border-radius: 5px;
  outline      : none;
}

.medium-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 1.25rem;
	width: 100%;
}

/* Modal-related */
.modal-container {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2)
}

.prompt {
	position: fixed;
	height: 35rem;
	width: 35rem;
	top: 20%;
	left: 20%;
	right: 20%;
	bottom: 20%;
	background-color: #e17171;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Messages and Errors */
.message-container {
	display: flex;
	position: absolute;
	z-index: 950;
	top: 10%;
	width: 100%;
	justify-content: center;
}

.error {
	display: flex;
	height: 3rem;
	width: 25rem;
	box-shadow: 0.5rem 0.5rem 0.5rem black;
	background-color: #e17171;
	align-items: center;
	justify-content: center;
	animation: toast 0.75s ease-in-out;
}

@keyframes toast {
	0% {
		transform: translateY(100rem);
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	75% {
		opacity: 0.5;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.hidden {
	visibility: hidden;
}

/* Leaderboard */
.leaderboard {
	height: 25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.leaderboard-header {
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	font-size: 3rem;
}

.leaderboard-body {
	width: 100%;
	text-align: center;
}

.leaderboard-entry {
	font-size: 1.25rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	text-align: center;
}


